Projet_4/RP1_Publisher.json
[
    {
        "id": "8d34316e645b8b1a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0eda05e831e5fd90",
        "type": "openweathermap in",
        "z": "8d34316e645b8b1a",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Paris",
        "country": "France",
        "language": "en",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "ad6126198f060212"
            ]
        ]
    },
    {
        "id": "ad6126198f060212",
        "type": "change",
        "z": "8d34316e645b8b1a",
        "name": "Air quality",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weather",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 500,
        "wires": [
            [
                "b206a6114dc1f6fe"
            ]
        ]
    },
    {
        "id": "b206a6114dc1f6fe",
        "type": "mqtt out",
        "z": "8d34316e645b8b1a",
        "name": "publish",
        "topic": "Air",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fae0d15480f7c901",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "16dd2defa23e338e",
        "type": "mqtt in",
        "z": "8d34316e645b8b1a",
        "name": "Subscribe_LED",
        "topic": "text",
        "qos": "2",
        "datatype": "auto",
        "broker": "fae0d15480f7c901",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 600,
        "wires": [
            [
                "b2adcc2f3a626216"
            ]
        ]
    },
    {
        "id": "b2adcc2f3a626216",
        "type": "rpi-sensehat out",
        "z": "8d34316e645b8b1a",
        "name": "",
        "x": 430,
        "y": 600,
        "wires": []
    },
    {
        "id": "d7a5f22505cb3dab",
        "type": "comment",
        "z": "8d34316e645b8b1a",
        "name": "Acceleration",
        "info": "",
        "x": 170,
        "y": 340,
        "wires": []
    },
    {
        "id": "11ad1181a3a33949",
        "type": "comment",
        "z": "8d34316e645b8b1a",
        "name": "Weather",
        "info": "",
        "x": 160,
        "y": 460,
        "wires": []
    },
    {
        "id": "c9c534652c436a75",
        "type": "comment",
        "z": "8d34316e645b8b1a",
        "name": "Text sur la matrice LED",
        "info": "",
        "x": 200,
        "y": 560,
        "wires": []
    },
    {
        "id": "a5b0b5f1e374108f",
        "type": "rpi-sensehat in",
        "z": "8d34316e645b8b1a",
        "name": "",
        "motion": false,
        "env": true,
        "stick": true,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "e61474c466af5a6d",
                "2ef2d180cc5b77ea",
                "62e6ddb9bf8db2f2"
            ]
        ]
    },
    {
        "id": "e61474c466af5a6d",
        "type": "change",
        "z": "8d34316e645b8b1a",
        "name": "temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "08eac4e8304b57c1"
            ]
        ]
    },
    {
        "id": "2ef2d180cc5b77ea",
        "type": "change",
        "z": "8d34316e645b8b1a",
        "name": "hum",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "9a30b43534455689"
            ]
        ]
    },
    {
        "id": "62e6ddb9bf8db2f2",
        "type": "change",
        "z": "8d34316e645b8b1a",
        "name": "atm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "f69ae3f662114ce8"
            ]
        ]
    },
    {
        "id": "9a30b43534455689",
        "type": "mqtt out",
        "z": "8d34316e645b8b1a",
        "name": "publish",
        "topic": "Humidite",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fae0d15480f7c901",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "f69ae3f662114ce8",
        "type": "mqtt out",
        "z": "8d34316e645b8b1a",
        "name": "publish",
        "topic": "Pression",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fae0d15480f7c901",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "08eac4e8304b57c1",
        "type": "mqtt out",
        "z": "8d34316e645b8b1a",
        "name": "publish",
        "topic": "Temperature",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fae0d15480f7c901",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "6142047035be954b",
        "type": "comment",
        "z": "8d34316e645b8b1a",
        "name": "Environnement",
        "info": "",
        "x": 185,
        "y": 116.25,
        "wires": []
    },
    {
        "id": "9905da1bb659ef48",
        "type": "mqtt out",
        "z": "8d34316e645b8b1a",
        "name": "publish",
        "topic": "Acceleration",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fae0d15480f7c901",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "454efb7cfbfae2de",
        "type": "change",
        "z": "8d34316e645b8b1a",
        "name": "Acceleration",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.acceleration",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "9905da1bb659ef48"
            ]
        ]
    },
    {
        "id": "826d0d18ac8f28d0",
        "type": "rpi-sensehat in",
        "z": "8d34316e645b8b1a",
        "name": "",
        "motion": true,
        "env": false,
        "stick": true,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "454efb7cfbfae2de"
            ]
        ]
    },
    {
        "id": "fae0d15480f7c901",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.242.243",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]